<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <webshipper>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Wexo\Webshipper\Model\Carrier\Webshipper</model>
                <name>Webshipper</name>
                <title>Webshipper</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </webshipper>
        </carriers>
    </default>
</config>
